:root {
  --blue: #23C3FF;
  --lightBlue: #AAE6FF;
}

body, html {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hero {
  position: relative;
}

.hide {
  display: none;
}

.headerImageText {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sectionWrapper:nth-child(odd) {
  background-color: lightgray;
}

.navbar {
  position: sticky;
  top: 20px;
}

.aboutLoan {
  border: none;
  background-color: transparent;
}

.loanText {
  background-color: #23C3FF;
  padding: 20px;
  margin-top: 20px;
  align-items: flex-end;
}

.loanText p {
  padding: 20px;
}

.loanText .textContainer {
  background-color: #AAE6FF;
  margin-right: 10px;
}

.circle {
  margin-bottom: 30px;
}

.helpSection {
  position: relative;
}

.helpText {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 3vw;
  font-weight: bold;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px;
  background-color: #CD98D7;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
}

.price button {
  background-color: #870AA0;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

.interestSection {
  position: relative;
}

.interestInfo {
  position: absolute;
  top: 55%;
  left: 3%;
  padding: 5px 20px;
  background-color: var(--lightBlue);
}

.graphHashtag {
  position: absolute;
  top: 55%;
  right: 3%;
}

.startupCompany {
  position: relative;
  height: 300px;
  padding: 20px;
  padding-bottom: 0px;
  background: linear-gradient(0.45turn, white, #23C3FF);
}

.startupCompany .textContainer {
  border: 1px solid #000;
  padding: 20px;
  background-color: var(--lightBlue);
}

.startupCompany .textContainer a {
  padding: 5px;
  color: black;
  border: 1px solid #000;
  text-decoration: none;
}

.person {
  width: 100%;
  position: absolute;
  top: 20%;
}

footer {
  background-color: blue;
}



@media (min-width: 768px) {
  .priceSection {
    display: flex;
  }
  .price {
    display: block;
    height: 250px;
  }
  .interestInfo, .graphHashtag {
    top: 80%;
  }
  .interestInfo {
    left: 20%;
  }
  .graphHashtag {
    right: 20%;
  }
}
